{% extends 'layout.html'%}

{% block title %}
	Phishing Website Detection
{% endblock title %}

{% block body %}
		<div class="jumbotron text-center">
	<center>
		<h3>Phishing Website Detection using Lexical features of URL</h3>
		<p class=lead>
			Phishing is a sort of cyber attack that attempts to take advantage of a system fault or human ignorance. So, even if a system is theoretically secure enough to prevent password theft, an innocent and unsuspecting user's password may be stolen, such as when an attacker sends a
			phished(false) reset password request by mail. An automatic layer of security on the user's end must be	established to discover a solution to this challenge.
			
			
		</p>
	</center>
	</div>
{% endblock body %}
		